<section class="w-full">
    <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-6">
        @for (bill of bills; track bill.id) {
            <app-bill-card [bill]="bill" />
        }
    </div>
    <div class="flex justify-center mt-6">
        <button
                (click)="loadBills()"
                [disabled]="isLoading"
                class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 disabled:opacity-50"
        >
            {{ isLoading ? 'Loading...' : 'Load More' }}
        </button>
    </div>
    <div class="w-full flex justify-center my-6">
        <div class="w-full max-w-[728px]">
            <app-ad-slot
                    adClient="ca-pub-5423870712802307"
                    adSlot="3718453696"
                    adFormat="fluid"
                    [maxWidth]="728"
                    [height]="250"
                    class="block"
            />
        </div>
    </div>
</section>
